body {
  margin-top: 20px;
  font: 400 14px/1.6 "Open Sans", sans-serif;
}

h1 {
  font: 100 36px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}

.bar {
  fill: #3498DB;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

#chart {
  margin: 0 auto;
  width: 800px
}

.min {
  fill: #E74C3C;
}
